/* Text styles */
*{
    font-family: 'Figtree', sans-serif; 
  }
  
  h1 {
    color: black;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
  }
  
  h2{
    font-size: 21px;
    font-weight: 500;
    display: block !important;
  }
  
  h3{
    display: block !important;
    font-weight: 700;
    font-size: 24px;
  }

  h4{
    text-transform: uppercase;
    font-size: 18px;
  }
  
  p{
    font-size: 18px;
  }
  
  footer{
    height: 200px;
    align-content: center;
    padding: 50px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }
  
  .navbar-brand {
      font-weight: 700;
  }

  .centered {
    text-align: center;
  }

  #resume{
    display: inline;
  }

  #download {
    float: right;
    display: inline;
  }

  #made-with{
    font-size: 14px;
    display: inline;
  }
